@font-face {
    font-family: repet;
    src: url(repet.ttf);
}


.sidebar{
    font-family: repet;
    width: 10%;
    height: 100%;
    padding: 10px 10px;
    box-shadow: 0 0 0.7px white;
    background-color: transparent;
    position:fixed;
    color: beige;
    background-image: url(./background.jpg);
    background-size: cover;
    background-position: top;
    float: left;
  }

  .title {
      overflow: hidden;
      padding-left: 10px;
      padding-top: 10px;
  }