@font-face {
    font-family: star;
    src: url(starfont.ttf);
}



.gridbox {
    color: #ccad67;
    font-family: star;
    overflow-x: hidden;
    overflow-y: auto;
}

.project {
    font-size: 35px;
    text-indent: 12%;
    font-family: 'streetBold';
    color: #f8f4f2;
}



.vidtitle {
    font-size: 12px;
    color: white;
    text-indent: 8%;
    font-family: 'streetBold';
};

.projects {
    font-size: 35px;
    font-family: 'streetBold';
    color: #f8f4f2;
    margin-left: -5%;
}

.currentproject {
    font-size: 35px;
    text-indent: 10%;
    font-family: 'streetBold';
    color: #f8f4f2;
}